/* ----------------------------------------------------------------------------------------------------------- VAR Settings */

:root {
  --active: red;
}

/* ----------------------------------------------------------------------------------------------------------- PAGE Settings */
a {
  text-decoration: none;
}

/* ----------------------------------------------------------------------------------------------------------- BurgerStyles */

.hamburger {

  z-index: 5;
  display: inline-block;
  cursor: pointer;
  transition: background 0.4s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 1;
}

.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before { 
  background-color: var(--grey); 
}

.hamburger-box {
  width: 30px;

  display: inline-block;
  position: relative; 
}

.hamburger-inner {
  display: block;
  top: 50%;
  width: 30px;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before {
  height: 2px;
  background-color: var(--grey);
  border-radius: 0px;
  position: absolute;
  transition-property: transform;
  transition: background 0.4s;
  transition-timing-function: ease;
}

.hamburger-inner::before {
  content: "";
  width: 30px;
  display: block; 
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger-box:hover>.hamburger-inner, .hamburger-box:hover>.hamburger-inner::before, .hamburger-box:hover>.hamburger-inner::after {
  background: var(--grey);
}

.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear;
}

.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
}

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; 
}

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0;
}

/* ----------------------------------------------------------------------------------------------------------- NAV Settings */

#nav-holder {
  padding: 30px 0;
  z-index: 2;
  position: fixed;
  display: block;
  left: 0;
  width: 100%;
}

#nav-holder>ul>a::after {
  display: none;
}

#nav-holder>ul {
  display: flex;
  flex-direction: row;
  z-index: 3;
  padding: 0;
  margin: 0;
}

#nav-holder>ul>li {
  list-style: none;
  margin: auto;
}

#nav-holder>ul>li:first-child {
  margin-left: 30px;
}

#nav-holder>ul>li:last-child {
  margin-right: 30px;
}

#nav-holder>ul>li>a {
  font-size: 1.3rem;
  vertical-align: middle;
  font-weight: 600;
  transition: color 0.5s;
  color: #817e8a;
}
#nav-holder>ul>li>a:hover {
  color: #393741;
}

#notifications {
  font-size: 22px;
  vertical-align: bottom;
  color: var(--grey);
}

nav, #nav {
  background: #fff;
  box-shadow: 0px 0px 32px 0px rgba(165, 165, 165, 0.3);
  transition: 0.4s;
  z-index: 2;
  flex-direction: column;
  right: 0;
  bottom: -100%;
  position: fixed;
  pointer-events: none;
  height: 80%; 
  display: block;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 50px 30px 0 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

nav>ul {
  padding: 15px 0 0 0!important;
}


.nav-active {
  pointer-events: all !important;
  bottom: 0 !important;
}

nav>ul {
  list-style: none;
  position: relative;
  width: 100%;
  margin: auto auto 0 auto;
}

nav>ul>li {
  padding: 10px 0;
}

nav>ul>li>a {

}

nav>ul>li>a:hover {
  color: #393741;
}

#active {
  color: var(--active);
  position: relative;
}

#overlay {
  display: block;
  transition: opacity 0.4s;
}

.overlay-active {
  opacity: 1 !important;
  background: rgba(165, 165, 165, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.overlay-black {
  background: rgba(190, 190, 190, 0.6);
  height: 100%;
  width: 100%;
  position: relative;
  transition: background 0.5s;
}

#quick-contact {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  padding: 20px 0px;
  position: relative;
  vertical-align: middle;
  font-weight: 600;
  bottom: 0;
  width: 100%;
  margin: auto auto 0px auto;
  color: #888ea0;
}

#quick-contact>i {
  color: #888ea0;
  font-size: 1.3rem;
  padding-right: 10px;
  background: rgba(255, 255, 255, 0.4);
  vertical-align: middle;
}

#quick-contact>a {
  color: var(--active);
  font-weight: 400;
  transition: margin 0.4s;
}

#quick-contact>a:hover {
  margin-left: 5px;
}

#quick-contact>a::after {
  position: relative;
}

#inner-footer {
  padding: 15px 0;
}

#inner-footer>ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#inner-footer>ul>li {
  list-style: none;
}

#inner-footer>ul>li:first-child{
  margin: 0 10px;
}

#inner-footer>ul>li:last-child{
  margin: 0 10px;
}

#inner-footer>ul>li>a {
  color: var(--blue);
  font-size: 14px;
  font-weight: 600;
}

/* ----------------------------------------------------------------------------------------------------------- Resp Settings */

@media (max-width: 1000px) {
  nav, #nav {
    width: calc(100% - 30px);
    padding: 50px 15px 15px 15px;
  }
}

@media (max-width: 768px) {
  nav, #nav {
    width: calc(100% - 30px);
    padding: 50px 15px 15px 15px;
  }
}