#notificationquizthree>.notifications-icon,
#notificationquizfive>.notifications-icon,
#notificationquizten>.notifications-icon {
	background: #e4cbf8;
	background-image: url("../img/emoji/rising.png");
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
}

#notificationquizten >.notifications-icon  {
	background-image: url("../img/emoji/win.png");
}



#livescore {
	display: inline-block;
}

h2.question {
	color: var(--grey);
	font-weight: 700;
	text-align: center;
	font-size: 20px;
	padding-bottom: 10px;
}

.questionnumber {
	width: 100px;
	height: 100px;
	text-align: center;
	background-color: #B4B0C7;
	border-radius: 10px;
	margin: auto;
	position: relative;
	border: 2px solid #fff;
	font-size: 55px;
	font-weight: 600;
	display: flex;
}

.questionnumber::after {
	width: 60px;
	height: 60px;
	border-radius: 10px;
	background: #F3F4F8;
	position: absolute;
	content: "";
	z-index: -1;
	width: 180%;
	top: 20px;
	left: -40%;
	margin: 0 auto;
}

.questionnumber span {
	margin: auto;
	padding-bottom: 5px;
	padding-left: 5px;
	color: #fff;
}

/* ------------------------------ Inputs ------------------------------  */

/* ----------  General ---------  */
input, label, textarea, select {
	display: flex;
	flex-wrap: wrap;
	display: -ms-flexbox;
	flex-direction: column;
	transition: 0.3s;
	margin: 10px 0px;
  }

  input[type=radio] {
	visibility: hidden;
	display: none;
}
  
  .input-clearer {
	display: inline-block;
	color: #484848;
	padding: 5px;
	transition: 0.3s;
	vertical-align: middle;
	font-size: 1.3rem;
	margin: 0 0 0 10px;
	padding: 5px;
  }
  
  .input-clearer:hover {
	color: var(--delete-c);
	animation: none !important;
	background: #eeeeee ;
	border-radius: 100%;
  }
  

::placeholder {
	color: var(#bcbcbc);
}

  /* ----------  Label ---------  */
  
  label {
	font-family: 'Source Sans Pro';
	color: #888888;
	font-size: 14px;
	font-weight: 600;
	padding-top: 15px;
  }

  input {
	color: #484848;
	background: #fff;
	padding: 12px 5px 12px 12px;
	font-size: 0.95rem;
	border: 1px solid #e6e6e6;
	font-family: 'Source Sans Pro',Arial, Helvetica, sans-serif;
	font-weight: 300;
	min-width: 50%;
	max-width: 100%;
  }


.input-lg {
	width: 75%;
  }

  .input-full {
	width: 100%;
  }
  
  .input-lg-2 {
	width: 92%;
  }
  
  .select-lg {
	width: 75%;
  }
  
  input:hover {
	border-color: #818181;
  }
  
  input:active, input:focus {
	border-color: var(--blue);       /*Wir durch User-Color überschrieben*/
  }

  select {
	color: #949494;
	background: #fff;
	padding: 12px 5px 12px 12px;
	font-size: 0.95rem;
	border: 1px solid #e6e6e6;
	font-family: 'Source Sans Pro',Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #949494;
	min-width: 140px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("../img/select-arrow.png");
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: 25px;
	min-width: 50%;
	max-width: 100%;
  }
  
.long-label {
	border-radius: 10px;
	background: rgba(180, 176, 199, 0.25);
	color: var(--grey);
	padding: 16px;
	display: flex;
	flex-direction: row;
	margin: 10px auto;
	position: relative;
	transition: 0.3s;
	cursor: pointer;
}

.square-label div {
	margin: auto;
}

.active-radio {
	background: var(--grey);
	color: #fff !important;
}

.long-label strong{
	color: var(--blue);
	font-weight: 700;
	margin: auto 10px auto 0;
	padding-right: 10px;
	text-transform: uppercase;
	font-size: 1.4rem;
	border-right: 1px solid var(#bcbcbc);
}

.long-label div {
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	margin: auto auto;
}

.label-inactive {
	pointer-events: none;
	opacity: .1;
}

.label-false,
.question-false {
	background: var(--red);
	color: #fff;
}

.label-false::after,
.label-true::after {
	position: absolute;
	right: 10px;
	top: 16px;
	font-size: 16px;
	font-family: 'Material Icons';
	color: #fff;
}

.label-false::after {
	content: "close";
}

.label-true::after {
	content: "check";
}


.label-true,
.question-true {
	background: var(--green);
	color: #fff;
}

.flex {
	display: flex;
	flex-direction: row;
	margin: auto;
}

.flex .long-label {
	width: 45%;
	margin: auto;
}

  /* The dots/bullets/indicators */

  #dot-container {
	margin-top: 40px;
	bottom: 20px;
	position: absolute;
	left: 0;
	right: 0;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: var(--grey);
  border-radius: 50%;
  display: inline-block;
  transition: 0.3s ease;
}

.dot:hover {
	transform: scale(1.6);
}

.active, .dot:hover {
  background-color: var(--lightgrey);
}