#scann-bar {
	background: var(--blue);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 20px 20px 0 0;
	padding: 45px 0 30px 0;
	display: block;
	height: 2px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	box-shadow: 20px 20px 32px 40px rgb(255, 255, 255);
}
#scann-bar button {
	position: absolute;
	left: 0;
	font-size: 22px;
	right: 0;
	top: -25px;
	margin: 0 auto;
	border: 3px solid #FAFAFA;
	background: var(--blue);
	color: #fff;
	text-align: center;
	padding: 15px;
	border-radius: 20px;
}

.page_title {
	position: relative;
	z-index: 0;
	padding: 0 15px;
}

.page_hint {
	padding: 0 15px;
}

.page_title::after {
	background-image: url("../img/menu_pattern.png");
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 66px;
	left: 45px;
	top: 15px;
	position: absolute;
	content: "";
	z-index: -1;
}

.card {
	border-radius: 20px;
	padding: 18px 15px;
	box-shadow: 0px 5px 10px 0px rgba(165, 165, 165, 0.2);
	width: calc(100% - 30px);
	display: flex;
	flex-direction: column;
}

.card-img-holder {
	height: 100px;
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	overflow: hidden;
	background: #fff;
}

.card-img-holder img {
	width: 100%;
	height: auto;
	display: block;
}

.card-programm {
	background: var(--blue);
	position: relative;
	overflow: hidden;
}

.card-home {
	background: var(--grey);
	position: relative;
	overflow: hidden;
}

.card-game {
	background: var(--red);
	position: relative;
	padding: 0;
	padding-top: 15px;
	width: 100%;
	overflow: hidden;
}

.card-game h2, .card-game small, .card-game button {
	padding: 0 15px;
}

.card-game button {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: none;
	padding: 10px 0;
	text-align: center;
	font-size: 14px;
	background: #fff;
	margin-top: 15px;
	color: var(--blue);
}

.card-media {
	background: #6CC2B5;
	overflow: hidden;
}

#menuscanner {
	font-weight: 600;
}

#menuscanner span {
	margin-right: 5px;
	vertical-align: middle;
}

#logo-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#else, #fischer {
	margin: 15px 7.5px;
	height: 30px;
	width: 79px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#else {
	background-image: url("../img/menu_else.png");
}

#fischer {
	background-image: url("../img/menu_fischer.png");
}

.card-home::after {
	content: "home";
	font-family: 'Material Icons';
	right: 15px;
	color: #fff;
	font-size: 70px;
	bottom: -25px;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
	position: absolute;
	opacity: .3;
}

.card-programm::after {
	content: "";
	background-image: url("../img/menu_programm_pattern.png");
	right: 15px;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
	height: 67px;
	width: 84px;
	position: absolute;
	opacity: .5;
}

.card-game::after {
	content: "";
	background-image: url("../img/menu_game_pattern.png");
	right: 15px;
	bottom: 37px;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
	height: 67px;
	width: 84px;
	position: absolute;
	opacity: .5;
}

.card-media::after {
	content: "";
	background-image: url("../img/menu_media_pattern.png");
	right: 15px;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
	height: 67px;
	width: 84px;
	position: absolute;
	opacity: .5;
}

.card h2 {
	color: #fff;
	margin: 0;
}

.card small {
	color: rgba(255, 255, 255, 0.8);
	font-size: 12px;
	margin: 0;
}

#schools {
	padding: 0 15px 15px 15px;
	border-bottom: 1px solid #F3F4F8;
}


#homecards {
	list-style: none;
	padding: 15px 0 0 0;
	width: 100%;
	margin: auto auto 0 auto;
}

#homecards li {
	margin-bottom: 15px;
}

.card-subtitle {
	padding: 0 15px;
	font-size: 14px;
	color: var(--lightgrey);
}

.card-subtitle span {
	margin-left: 5px;
	color: var(--green);
	vertical-align: text-top;
}

#programm, #game, #media {
	padding: 0;
	width: 100%;
	position: relative;
	margin-bottom: 10px;
}

#game {
	background: var(--red);
	color: #fff;
	position: relative;
	background-image: url("../img/qr_code.png");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 35%;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	z-index: 0;
}

#media {
	background: var(--green);
}

#game::before {
	background-image: linear-gradient(180deg, rgba(229, 75, 103, 0)  0%, var(--red) 100%);
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	right: 0;
	height: 100%;
	z-index: -1;
}

#game .homecards-text, #media .homecards-text {
	background: transparent;
}

#game .homecards-text small, #media .homecards-text small {
	color: #F5F5F5;
}

#game .homecards-text h2, #media .homecards-text h2 {
	color: #fff;
}

#progress-indicator {
	background: #F3F4F8;
	height: 5px;
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	top: 5px;
}

#percent {
	background: var(--lightgrey);
	height: 5px;
	width: 50%;
	position: absolute;
	left: 0;
	top: 0;
}

#programm>span {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background: var(--blue);
	height: 5px;
	display: block;
}

.homecards-text {
	padding: 15px;
	background: #fff;
	display: flex;
	flex-wrap: row;
}

.homecards-text small {
	color: var(--lightgrey);
}

.homecards-text h2 {
	color: var(--grey);
	font-size: 14px;
	font-weight: 600;
}

.homecards-icon {
    height: 36px;
	width: 36px;
	min-width: 36px;
    border-radius: 15px;
    text-align: center;
    margin: auto 15px auto 0;
    padding: 4px;
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: center;	
}

#programm-icon {
	background-image: url("../img/emoji/juggling.png");
}

#game-icon {
	background-image: url("../img/emoji/controller.png");
}

#media-icon {
	background-image: url("../img/instagram.png");
}


/* PROGRAMM_LIST */

.filter {
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}

.filter input::placeholder {
	color: #8b8996;
	font-weight: 600;
}

.filter input {
	background: #E0E0E9;
	padding: 12px;
	color: var(--grey);
	border-radius: 5px;
	border: none;
	box-shadow: none;
	width: calc(100% - 55px);
}

.filter button {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background: #E0E0E9;
	color: var(--grey);
	border: none;
	box-shadow: none;
	font-size: 18px;
	margin-left: 15px;
}

.filter button:focus {
	animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
}

#acts {
	list-style: none;
	padding: 0;
}
 @-webkit-keyframes scale-up-center {
	0% {
			  background: #E0E0E9;
			  color: var(--grey);

	}
	90% {
			  color: #fff;
			  background: var(--grey);
	}

	1000% {
		-webkit-transform: scale(1);
				transform: scale(1);
				background: #E0E0E9;
				color: var(--grey);
	  }
  }
  @keyframes scale-up-center {
	0% {
		background: #E0E0E9;
		color: var(--grey);
	}
	90% {
		color: #fff;
		background: var(--grey);
	}

	1000% {
				background: #E0E0E9;
				color: var(--grey);
	  }
  }
  