:root {
	--red: #E54B67;
	--green: #6CC2B5;
	--lightgreen: rgba(108, 194, 181, 0.20);
	--blue: #0333DE;
	--grey: #3b3945;
	--lightgrey: #9998a1;
}

.center-text {
	text-align: center;
}


